.main-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 1em;
    margin: 3rem 0;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

